a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
h2{
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}
nav{
    background-color: rgb(201, 179, 150);
    padding: 0.5em 0;
}
h1{
    padding: 2em 0;
    display: flex;
    justify-content: center;
}
